<header class="header">
  <div class="logo">Expenso <span>My Friend</span></div>
  <div class="links">
    <a href="/home">Home</a>
    <a href="#">Insights.</a>
    <a href="#">Contact Us</a>
  </div>
  <button class="primary-btn" title="Log Out"><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i></a></button>
</header>
