<header class="header">
  <div class="logo">Expenso <span>My Friend</span></div>
  <div class="links">
    <a href="#">Home</a>
    <a href="#">Insights.</a>
    <a href="#">Contact Us</a>
  </div>
  <button class="primary-btn"><a href="/logout">Log out</a></button>
</header>
